.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.module-title{
  margin-bottom: 1.625em;
  height: 40px;
  display: table;
  position: relative;
}
.module-title h3 {
  margin-top: 0;
  letter-spacing: .5px;
  font-family: 'Roboto', sans-serif;
}
.bg-1 {
  background-color: rgba(212, 0, 4, 1.00) !important;;
  /* background-color:coarl !important; */
  /* color: #7c28db; */
  color: white;
  border-radius: 1px;
  font-size: 4vh;
}

h1{
  background-color: blue;
}